// FileUploader.module.scss
.container {
  max-width: 500px;
  margin: 0 auto;
}

.input_container {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  margin-top: 20px;
}

.uploadInput::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
  border-radius: 20px;
}

.uploadInput::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

.uploadSection {
  margin-bottom: 20px;
}

.uploadLabel {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

// .uploadInput {
//   width: 100%;
//   padding: 10px;
//   font-size: 1rem;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

.labelSection {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.labelInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.fileUploaded {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.uploadedImage {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
