// page.module.scss
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:whitesmoke;

  h1 {
    padding: 40px 0;
    font-size: 2rem;
    text-align: center;
  }
}

.container {
  margin: 0 auto;
  max-width: 480px;
  background-color: darkslategray;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}
